 body{
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 60px;
    background-color: lightskyblue;
    text-align: center;
    font-family: sans-serif;
   
    
   
} 

img{

    height: 300px;
}

button{
   padding: 20px;
    margin: 10px;
    width: 150px;
    font-family: sans-serif;
    border-style: dashed;
    border-radius: 20px;
    background-color: lightgreen;
    cursor: pointer;
}






